{%  extends 'app/base.html' %}
{% load static %}


<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">


    </head>
    <body>
        {% block register %}
        <from>
            <link href="{%static 'app/css/cssmoi/footer.css' %}" rel="stylesheet" />
            <link href="{%static 'app/css/cssmoi/header.css' %}" rel="stylesheet" />
            <link href="{%static 'app/css/cssmoi/lienhe.css' %}" rel="stylesheet" />
            <link href="{%static 'app/css/cssmoi/style.css' %}" rel="stylesheet" />
            <link href="{%static 'app/css/cssmoi/taikhoan.css' %}" rel="stylesheet" />
            <link href="{%static 'app/css/cssmoi/topnav.css' %}" rel="stylesheet" />
        <script> addTopNav();</script>

        <section style="min-height: 85vh">
            <script> addHeader(); </script>
    
            <div class="body-lienhe">
                <div class="lienhe-header">Liên hệ</div>
                <div class="lienhe-info">
                    <div class="info-left">
                        <p>
                            <h2 style="color: gray"> Cửa hàng Laptop DG </h2><br />
                            <b>Địa chỉ:</b> Đường Z115,Xã Quyết Thằng,Thành Phố Thái Nguyên<br /><br />
                            <b>Telephone:</b> 0353990264 <br /><br />
                            <b>Hotline:</b> 0353990264 - CSKH: 0353990264 <br /><br />
                            <b>E-mail:</b> tudao46465@gmail.com <br /><br />
                            <b>Mã số thuế:</b> 01 02 03 04 05<br /><br />
                            <b>Tài khoản ngân hàng :</b> VU TIEN DUNG <br /><br />
                            <b>Số TK:</b> 0969592170 <br /><br />
                            <b>Tại Ngân hàng:</b> Vietinbank Chi nhánh Thái Nguyên<br /><br /><br /><br />
                            <b>
                                Quý khách có thể gửi liên hệ tới chúng tôi bằng cách hoàn tất biểu mẫu dưới đây. Chúng tôi
                                sẽ trả lời thư của quý khách, xin vui lòng khai báo đầy đủ. Hân hạnh phục vụ và chân thành
                                cảm ơn sự quan tâm, đóng góp ý kiến đến cửa hàng laptop DG
    </b>
                        </p>
                    </div>
                    <div class="info-right">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d779.9372169194677!2d105.80638258635545!3d21.584841679192493!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31352738b1bf08a3%3A0x515f4860ede9e108!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2jhu4cgVGjDtG5nIHRpbiB2w6AgVHJ1eeG7gW4gdGjDtG5n!5e0!3m2!1sen!2s!4v1680074441765!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                Google Map
                            </a>
                        </iframe>
                        <br />
                    </div>
                </div>
                <div class="lienhe-info">
    
                    <div class="guithongtin">
                        <p style="font-size: 22px; color: gray">Gửi thông tin liên lạc cho chúng tôi: </p>
                        <hr />
                        <form name="formlh" onsubmit="return nguoidung()">
                            <table cellspacing="10px">
                                <tr>
                                    <td>Họ và tên</td>
                                    <td><input type="text" name="ht" size="40" maxlength="40" placeholder="Họ tên"
                                            autocomplete="off" required></td>
                                </tr>
                                <tr>
                                    <td>Điện thoại liên hệ</td>
                                    <td><input type="text" name="sdt" size="40" maxlength="11" minlength="10" placeholder="Điện thoại"
                                            required></td>
                                </tr>
                                <tr>
                                    <td>Địa chỉ Email</td>
                                    <td><input type="email" name="em" size="40" placeholder="Email" autocomplete="off"
                                            required></td>
                                </tr>
                                <tr>
                                    <td>Tiêu đề</td>
                                    <td><input type="text" name="tde" size="40" maxlength="100" placeholder="Tiêu đề"
                                            required>
                                </tr>
                                <tr>
                                    <td>Nội dung</td>
                                    <td><textarea name="nd" rows="5" cols="44" maxlength="500" wrap="physical"
                                            placeholder="Nội dung liên hệ" required></textarea></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><button type="submit">Gửi thông tin liên hệ</button></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div class="thongtinnhom">
                        <p style="font-size: 22px; color: gray">Thông tin thành viên nhóm: </p>
                        <hr />
                        <table>
                            <tr>
                                <th>Họ tên</th>
                                <th>MSSV</th>
                                <th>Giới tính</th>
                                <th>Lớp</th>
                                <th>Tỉ lệ công việc</th>
                            </tr>
                            <script>
                                var thongtin = [
                                    ["Vũ Tiến Dũng", "DTC2154802010095", "Nam", "K20Q", "%"],
                                    ["Trần Đức Thạnh", "DTC2154802010578", "Nam", "K20Q", "%"],

                                ]
                                for (var i = 0; i < thongtin.length; i++) {
                                    document.write(
                                        `
                                        <tr>
                                            <td>` +
                                        thongtin[i][0] + `</td>
                                            <td>` +
                                        thongtin[i][1] + `</td>
                                            <td>` +
                                        thongtin[i][2] + `</td>
                                            <td>` +
                                        thongtin[i][3] + `</td>
                                            <td>` +
                                        thongtin[i][4] +
                                        `</td>
                                        </tr>
                                    `
                                    )
                                }
                            </script>
                        </table>
                    </div>
    
                </div>
            </div>
        </section>
    
        <script>
            addContainTaiKhoan();
        </script>
    
        <div class="footer">
            <script>
                addFooter();
            </script>
    
        </div>
    
        <i class="fa fa-arrow-up" id="goto-top-page" onclick="gotoTop()"></i>
    <br /><br /><br />
</from>
        {% endblock register %}
    </body>
</html>